
@import url('~/platform.css');


/* #243044 */
/* #556278 */
/* #3B485D */
/* #162339 */
/* #0A1527 */
/* #FF404B */

/* Your CSS goes here */

Page {
    background-color: #243044;
    color: white;
    font-size: 17;
}

ListView {
  background-color: #243044;
  color: white;
}

.list-view {
  background-color: #243044;
  color: white;  
}

TextField {
    margin: 10;
    padding: 10;
    placeholder-color: #556278;
}


actionBar {
  color: black;
}

Image {
    margin-top: 20;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80;
}
Button {
    margin: 10;
    padding: 10;
}

.drawer-content {
  background-color: #556278;
  color: white;
  padding-top: 20;
}
.drawer-content Label {
  font-size: 20;
  margin: 10 0 15 25;
}


Label {
  margin: 10;
}

.line-through {
  text-decoration: line-through;
}

.h1 {
  font-size: 36;
  margin-bottom: 10; }

.h2 {
  font-size: 30;
  margin: 10 0 10 0; }

.h3 {
  font-size: 24;
  margin: 10 0 10 0; }

.h4 {
  font-size: 18;
  margin: 10 0 10 0; }

.h5 {
  font-size: 14;
  margin: 10 0 10 0; }

.h6 {
  font-size: 12;
  margin: 10 0 10 0; }

.p {
  font-size: 14;
  margin: 0 0 10 0; }

.button {
  padding: 10 12 10 10;
  min-width: 52;
  border-radius: 2; }
  .button .button-accent {
    background-color: #FF404B;
    color: #ffffff; }
    .button .button-accent .button-outline {
      background-color: #ffffff;
      color: #FF404B;
      border-color: #FF404B;
      border-width: 1; }

.button-full {
  padding: 0; }

.button-small {
  padding: 2 4 1 4;
  min-width: 28;
  min-height: 30;
  font-size: 12; }

.button-large {
  padding: 0 16 0 16;
  min-width: 68;
  min-height: 59;
  font-size: 20; }

.button-light {
  background-color: #ffffff;
  color: #FF404B;
  border-color: #b2b2b2;
  border-width: 1; }

.button-dark {
  background-color: #243044;
  color: #ffffff; }
  .button-dark .button-outline {
    color: #243044;
    border-color: #243044;
    border-width: 1; }


.listview {
  background-color: #243044
  color: white; }
  .listview .item {
    padding: 10 10 10 10;
    font-size: 16;
    background-color: #243044;
    color: white; }
    .listview .item .h2 {
      margin: 0;
      margin: 0;
      font-size: 20; }
    .listview .item .p {
      font-size: 14;
      color: white;
      margin: 0; }

.listview-inset {
  margin: 10;
  border-width: 1;
  border-color: #243044;
  border-radius: 10; }

.item-avatar image {
  border-radius: 25;
  width: 50;
  height: 50; }

.item-avatar stacklayout, .item-thumbnail stacklayout {
  padding-left: 16; }

.form {
  margin: 0 0 20 0;
  padding: 0; }
  .form .button {
    margin: 0 0 0 10;
    padding: 0; }
  .form switch {
    margin-right: 16; }
  .form .form-item {
    padding: 10 16 10 16; }
  .form .input {
    padding-top: 2; }
  .form .input-inset {
    background-color: #EEEEEE;
    border-radius: 2;
    padding: 8; }
  .form .input-label {
    font-size: 18;
    padding: 4 0 5 0;
    color: #444; }

.form-inset {
  margin: 10;
  border-width: 1;
  border-color: #DDDDDD; }

.switch-accent {
  background-color: #FF404B; }

.switch-dark {
  background-color: #243044; }

.slider-light {
  background-color: #ffffff; }

.slider-accent {
  background-color: #FF404B; }

.slider-dark {
  background-color: #243044; }

.segmented-bar {
  height: 50; }
  .segmented-bar .segmnted-bar-light {
    background-color: #ffffff; }
  .segmented-bar .segmented-bar-accent {
    background-color: #FF404B;
    color: #ffffff; }
  .segmented-bar .segmented-bar-dark {
    background-color: #243044;
    color: #ffffff; }


.fa {
  font-family: 'FontAwesome', 'fontawesome-webfont'; }

.fa-large {
  font-family: 'FontAwesome', 'fontawesome-webfont';
  font-size: 26; }

.padding {
  padding: 10; }

.edges {
  margin-left: 10;
  margin-right: 10; }

.left {
  horizontal-align: left;
  text-align: left; }

.right {
  text-align: right;
  horizontal-align: right; }

.center {
  horizontal-align: center;
  text-align: center; }

.hr {
  height: 1;
  background-color: #CDCDCD; }

.debug {
  border-width: 1;
  border-color: red; }

.datetime {
  font-style: italic;
  font-size: 10;
  margin: 0 0 10 0;
}

