Page {
    background-color: #243044;
}
.console_background {
  background-color: #243044;
  color: white
}
.console_output {
    background-color: #243044;
    font-size: 12;
}
.console_list {
  separator-color: #243044;
}